{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
    // "no-anonymous-exports-page-templates": "warn",
    // "limited-exports-page-templates": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
